<!DOCTYPE html>
<html lang="">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/images/internet.png" type="image/png">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{{> header}}
<section class="container mt-4 md-4">
    {{{body}}}
</section>
{{> footer}}
</body>
<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/socket.io.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</html>
