<div class="media">
    <img class="align-self-start mr-3" src="https://miro.medium.com/max/1000/1*lAR9Uh_gJ7dp23e0vhy5Hg.png" width="100" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0">API</h5>
        <p>text</p>
    </div>
</div>

