<div class="container">
    <div class="jumbotron mt-3">
        <h1>Example page</h1>
        <p class="lead">Your generate this page make:view</p>
        <a class="btn btn-lg btn-primary" href="/" role="button">Go home »</a>
    </div>
{{#if session.user }}
    <div class="jumbotron mt-">
        <h3>Текущая сессия</h3> <br/>
        <label>ID Пользователя</label> : {{session.user.id}} <br/>
        <label>Токен</label> : <font size="2">{{session.user.authtoken}}</font>  <br/>
            {{#if session.user.username }}
                <label>Имя пользователя</label> : {{session.user.username}} <br/>
                <label>Почта:</label> : {{session.user.email}} <br/>
            {{/if}}
        <a href="/session" class="btn-info btn">Данные сессии</a> <br/> <br/>
        <form action='/api/auth/logout' method='post'>
            <input type='submit' class="btn btn-primary" value='Выйти' />
        </form>
    </div>
{{/if}}
    <h3>Example upload</h3>
    <form action='/api/users/update' method='post' enctype="multipart/form-data">
        <div class="form-group">
            <label>ID Пользователя</label>
            <input type="text" class="form-control" name="id" value=""/>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" value="test@email"/>
        </div>
        <div class="form-group">
            <label>Avatar</label>
            <input type="file" class="form-control-file" name="avatar" />
        </div>

        <input type='submit' class="btn btn-primary" value='Upload!' />
    </form>
    <hr>
    <h3>Example signup</h3>
    <form action='/api/auth/signup' method='post' ref="signup">
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" value=""/>
        </div>
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" class="form-control" name="username" />
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type='password' class="form-control" name="password" />
        </div>
        <input class="btn btn-primary" type='submit' value='Signup' />
    </form>
    <hr>
    <h3>Example login</h3>
    <form action='/api/auth/signing' method='post' ref="signing">
        <input type="hidden" name="id" value=""/>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" value=""/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password"/>
        </div>
        <input type='submit' class="btn btn-primary" value='Login' />
    </form>
</div>
